In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style("darkgrid")
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn import linear_model
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn import svm
from sklearn.cluster import KMeans

In [3]:
df = pd.read_csv("E:\Data]Carprice.csv")
pd.set_option('display.max_columns', 20)
pd.set_option('display.max_rows', 1000)
pd.set_option('display.width', 1000)
df.head()

   Unnamed: 0  mark  model generation_name  year  mileage  vol_engine    fuel             city     province  price
0           0  opel  combo      gen-d-2011  2015   139568        1248  Diesel            Janki  Mazowieckie  35900
1           1  opel  combo      gen-d-2011  2018    31991        1499  Diesel         Katowice      Śląskie  78501
2           2  opel  combo      gen-d-2011  2015   278437        1598  Diesel            Brzeg     Opolskie  27000
3           3  opel  combo      gen-d-2011  2016    47600        1248  Diesel        Korfantów     Opolskie  30800
4           4  opel  combo      gen-d-2011  2014   103000        1400     CNG  Tarnowskie Góry      Śląskie  35900

In [4]:
df.isna().sum()

Unnamed: 0             0
mark                   0
model                  0
generation_name    30085
year                   0
mileage                0
vol_engine             0
fuel                   0
city                   0
province               0
price                  0
dtype: int64

In [5]:
df= df.dropna()

In [ ]:
df["fuel"] = df["fuel"].replace(['Gasoline'],1)
df["fuel"] = df["fuel"].replace(['Diesel'],2)
df["fuel"] = df["fuel"].replace(['LPG'],3)
df["fuel"] = df["fuel"].replace(['Hybrid'],4)
df["fuel"] = df["fuel"].replace(['Electric'],5)
df["fuel"] = df["fuel"].replace(['CNG'],6)
print(df.info())

In [7]:
df_data = df.iloc[:, 4:8]
df_target = df.loc[: ,['price']]

X_train,X_test,Y_train,Y_test = train_test_split(df_data, df_target, train_size=0.7)

# Decision Tree

In [8]:
DT = tree.DecisionTreeClassifier(max_depth=3, random_state=42)
DT.fit(X_train, Y_train)
y_pred_DT = pd.DataFrame(DT.predict(X_test))

In [11]:
print(mean_absolute_error(Y_test , y_pred_DT))
print(mean_squared_error(Y_test , y_pred_DT))
print(DT.score(X_test,Y_test))
print(np.sqrt(mean_squared_error(Y_test , y_pred_DT)))

27578.734072022162
4037459494.700224
0.023868250294084164
63541.00640295386

# LinearRegression

In [12]:
reg = linear_model.LinearRegression()
reg.fit(X_train, Y_train)

y_pred_reg = pd.DataFrame(reg.predict(X_test))

In [13]:
print(mean_absolute_error(Y_test , y_pred_reg))
print(mean_squared_error(Y_test , y_pred_reg))
print(reg.score(X_test,Y_test))
print(np.sqrt(mean_squared_error(Y_test , y_pred_reg)))

29673.91639481962
2305535397.3077126
0.5989231889115476
48015.99105826842

# GaussianNB

In [15]:
NB= GaussianNB()
NB.fit(X_train, Y_train)

y_pred_NB = pd.DataFrame(NB.predict(X_test))

C:\Users\Danish Iqbal\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

In [16]:
print(mean_absolute_error(Y_test , y_pred_NB))
print(mean_squared_error(Y_test , y_pred_NB))
print(NB.score(X_test,Y_test))
print(np.sqrt(mean_squared_error(Y_test , y_pred_NB)))

24655.92156490722
2051251491.5222936
0.019314689029711986
45290.7439939144

# KNeighborsRegressor

In [17]:
knn = KNeighborsRegressor(n_neighbors=3)
knn.fit(X_train, Y_train)

y_pred_knn = pd.DataFrame(knn.predict(X_test))

In [18]:
print(mean_absolute_error(Y_test , y_pred_knn))
print(mean_squared_error(Y_test , y_pred_knn))
print(knn.score(X_test,Y_test))
print(np.sqrt(mean_squared_error(Y_test , y_pred_knn)))

21248.219418409033
1433266777.9701784
0.750665260043901
37858.50998085078

# KMeans

In [21]:
km = KMeans()
km.fit(X_train, Y_train)

y_pred_km = pd.DataFrame(km.predict(X_test))

In [22]:
print(mean_absolute_error(Y_test , y_pred_km))
print(mean_squared_error(Y_test , y_pred_km))
print(km.score(X_test,Y_test))
print(np.sqrt(mean_squared_error(Y_test , y_pred_km)))

63381.790308503776
9765609742.632793
-8164962537278.784
98821.09968338136